.title-wrapper {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.title {
    font-size: 1.8rem;
    font-weight: 300;
    margin-bottom: 1rem;
    text-transform: capitalize;
    letter-spacing: 0.05rem;
}

.subtext {
    color: #333333;
    font-size: 1rem;
}